a.page-numbers:hover {
	border-color: #C8FAAC; /* rcol1 */
}

body	{
	background: #fff;
	color: #333;
}

body > #upload-menu {
	border-bottom-color: #fff;;
}

div#current-widgets, #postcustomstuff table, #your-profile fieldset, a.page-numbers, #rightnow, div.dashboard-widget, .widefat {
	border-color: #2A3324; /* rcol5 */
}

div.dashboard-widget-error {
	background-color: #2A3324; /* rcol5 */
}

div.dashboard-widget-notice {
	background-color: #697E5D; /* rcol4 */
}

div.dashboard-widget-submit, ul.widget-control-list div.widget-control-actions {
	border-top-color: #2A3324; /* rcol5 */
}

input.disabled, textarea.disabled {
	background-color: #697E5D; /* rcol4 */
}

#user_info a:hover, li.widget-list-control-item h4.widget-title a:hover, .submit a, #dashmenu a:hover, #footer a, #upload-menu li a.upload-tab-link, li.widget-list-control-item h4.widget-title a,
#dragHelper li.widget-list-control-item h4.widget-title a,
#draghelper li.widget-list-control-item h4.widget-title a:visited, .login #backtoblog a:hover {
	color: #697E5D; /* rcol4 */
}

ul#category-tabs li.ui-tabs-selected, li.widget-list-control-item, div.nav, .tablenav, .submitbox, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, ul.view-switch li.current, .form-table tr, #poststuff h3, .login form {
	background-color:#9CB48E; /* rcol3 */
	color:#C8FAAC; /* rcol1 */
}

div.ui-tabs-panel {
	border-color: #9CB48E; /* rcol3 */
}

select {
	background-color: #fff;
	border-color: #2A3324; /* rcol5 */
}

strong .post-com-count span {
	background-color: #2583ad;
}

.button-secondary, #login form .submit input {
	background-color: #C8FAAC; /* rcol1 */
}

ul#widget-list li.widget-list-item h4.widget-title {
	background-color: #2A3324; /* rcol5 */
	color: #333;
}

ul.widget-control-list .sorthelper {
	background-color: #2A3324; /* rcol5 */
}

.ac_match, .subsubsub a.current, h2 {
	color: #333;
}

.ac_over {
	background-color: #697E5D; /* rcol4 */
}

.ac_results {
	background-color: #fff;
	border-color: #2A3324; /* rcol5 */
}

.ac_results li {
	color: #333;
}

.alternate {
	background-color: #697E5D; /* rcol4 */
}

.available-theme a.screenshot {
	background-color: #697E5D; /* rcol4 */
	border-color: #2A3324; /* rcol5 */
}

.bar {
	background-color: #2A3324; /* rcol5 */
	border-right-color: #697E5D; /* rcol4 */
}

.describe {
	border-top-color: #2A3324; /* rcol5 */
}

.error, #login #login_error {
	background-color: #ffebe8;
	border-color: #c00;
}

.error a {
	color: #c00;
}

.form-invalid {
	background-color: #ffebe8 !important;
}

.form-invalid input {
	border-color: #c00 !important;
}

.form-table input, .form-table textarea {
	border-color: #2A3324; /* rcol5 */
}

.form-table td, .form-table th {
	border-bottom-color: #fff;
}

.highlight {
	background-color: #9CB48E; /* rcol3 */
	color: #C4E0B4; /* rcol2 */
}

.howto, .nonessential, #sidemenu, #edit-slug-box, .form-input-tip, #dashboard_primary span.rss-date, .subsubsub, #dashboard_secondary div.dashboard-widget-content ul li a cite {
	color: #2A3324; /* rcol5 */
}

#dashmenu a, #user_info a {
	color: #9CB48E; /* rcol3 */
}

.media-item {
	border-bottom-color: #2A3324; /* rcol5 */
}

.media-upload-form label.form-help, td.help {
	color: #C4E0B4; /* rcol2 */
}

.page-numbers {
	background-color: #fff;
	border-color: #fff;
}

.page-numbers.current {
	background-color: #C4E0B4; /* rcol2 */
	border-color: #C4E0B4; /* rcol2 */
	color: #fff;
}

.post-com-count {
	background-image: url(../../../../wp-admin/images/bubble_bg.gif);
	color: #fff;
}

.post-com-count span {
	background-color: #bbb;
	color: #fff;
}

.post-com-count:hover span {
	background-color: #d54e21;
}

.quicktags, .search {
	background-color: #C4E0B4; /* rcol2 */
	color: #333;
}

.side-info h5, .bordertitle {
	border-bottom-color: #2A3324; /* rcol5 */
}

.side-info ul, .widget-description {
	color: #C4E0B4; /* rcol2 */
}

.submit input, .button, .button-secondary, #login form .submit input, div.dashboard-widget-submit input, #edit-slug-buttons a.save {
	background-color: #697E5D; /* rcol4 */
	color: #C4E0B4; /* rcol2 */
	border-color: #9CB48E; /* rcol3 */
}

.tablenav .button-secondary {
	border-color: #C4E0B4; /* rcol2 */
}

.submit input:hover, .button:hover, #edit-slug-buttons a.save:hover {
	border-color: #9CB48E; /* rcol3 */
}

.submit input:hover, .button:hover, .button-secondary:hover, #wphead #viewsite a:hover, #submenu a.current, #submenu a:hover, .submitbox #previewview a:hover, #the-comment-list .comment a:hover, #rightnow a:hover, a:hover, .subsubsub a:hover, .subsubsub a.current:hover, #login form .submit input:hover, div.dashboard-widget-submit input:hover, #edit-slug-buttons a.save:hover {
	color: #C8FAAC; /* rcol1 */
}

#adminmenu a:hover, #sidemenu a:hover {
	color: #697E5D; /* rcol4 */
}

.button-secondary:hover, #login form .submit input:hover {
	border-color: #C4E0B4; /* rcol2 */
	background-color: #697E5D; /* rcol4 */
}

.submitbox #autosave .error, ul.view-switch li.current a {
	color: #2A3324; /* rcol5 */
}

.submitbox #previewview {
	background-color:#C4E0B4; /* rcol2 */
}

.submitbox #previewview a, #rightnow .rbutton {
	background-color: #2A3324; /* rcol5 */
	color: #9CB48E; /* rcol3 */
}

.submitbox .submit {
	background-color: #2A3324; /* rcol5 */
	color: #9CB48E; /* rcol3 */
}

.submitbox .submitdelete {
	border-bottom-color: #2A3324; /* rcol5 */
}

.submitbox .submitdelete:hover {
	color: #fff;
	background-color: #f00;
	border-bottom-color: #f00;
}

.tablenav .dots {
	background-color: #9CB48E; /* rcol3 */
	border-color: #9CB48E; /* rcol3 */
}

.tablenav .next, .tablenav .prev{
	background-color: #9CB48E; /* rcol3 */
	border-bottom-color: #9CB48E; /* rcol3 */
	border-color: #9CB48E; /* rcol3 */
	color: #C4E0B4; /* rcol2 */
}

.tablenav .next:hover, .tablenav .prev:hover {
	border-bottom-color: #d54e21;
	border-color: #9CB48E; /* rcol3 */
	color: #d54e21;
}

.updated, .login #login_error, .login .message {
	background-color:#C4E0B4; /* rcol2 */
	border-color:#C8FAAC; /* rcol1 */
}

.updated a {
	border-bottom-color: #9CB48E; /* rcol3 */
}

.widefat td, .widefat th, div#available-widgets-filter, ul#widget-list li.widget-list-item, .commentlist li {
	border-bottom-color: #2A3324; /* rcol5 */
}

.widefat thead, .thead {
	background-color:#2A3324; /* rcol5 */
	color: #C4E0B4; /* rcol2 */
}

.widget-control-save, .widget-control-remove {
	background-color: #9CB48E; /* rcol3 */
	color: #2A3324; /* rcol5 */
}

.wrap h2 {
	border-bottom-color:#9CB48E; /* rcol3 */
	color:#C4E0B4; /* rcol2 */
}

#poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, a {
	color: #C4E0B4; /* rcol2 */
}

#adminmenu a {
	color: #9CB48E; /* rcol3 */
}

#submenu a {
	color: #C4E0B4; /* rcol2 */
}
/* Because we don't want visited on these links */
#adminmenu a.current, #sidemenu a.current {
	background-color: #fff;
	border-color: #C8FAAC; /* rcol1 */
	border-bottom-color: #fff;
	color: #333;
	font-weight: bold;
}

#adminmenu li a #awaiting-mod {
	background-image: url(../../../../wp-admin/images/comment-stalk-classic.gif);
}

#adminmenu li a #awaiting-mod span {
	background-color: #d54e21;
	color: #fff;
}

#rightnow .reallynow {
	background-color:#C4E0B4; /* rcol2 */
	color:#697E5D; /* rcol4 */
}

#rightnow .reallynow a {
	background-color:#697E5D; /* rcol4 */
	color:#C4E0B4; /* rcol2 */
}

#rightnow .reallynow a:hover {
	color:#2A3324; /* rcol5 */
}


#adminmenu li a:hover #awaiting-mod span {
	background-color: #C8FAAC; /* rcol1 */
}

#adminmenu, div#media-upload-header {
	background-color: #C4E0B4; /* rcol2 */
	border-bottom-color: #C8FAAC; /* rcol1 */
}

#currenttheme img {
	border-color: #2A3324; /* rcol5 */
}

#current-widgets .drop-widget-here {
	background-color: #ffc;
}

#dashboard_secondary div.dashboard-widget-content ul li a {
	background-color: #697E5D; /* rcol4 */
}

input.readonly {
	background-color: #2A3324; /* rcol5 */
}

#dashmenu a.current {
	background-color: #C4E0B4; /* rcol2 */
	color: #9CB48E; /* rcol3 */
}

#dragHelper h4.widget-title, li.widget-list-control-item h4, #dragHelper li.widget-list-control-item h4 {
	background-color: #C4E0B4; /* rcol2 */
	color: #697E5D; /* rcol4 */
}

#ed_toolbar input {
	background: url( ../../../../wp-admin/images/fade-butt.png ) #fff repeat-x 0 -2px;
}

#editable-post-name {
	background-color: #fffbcc;
}

#edit-slug-box strong, .login #nav a {
	color: #2A3324; /* rcol5 */
}

#edit-slug-buttons a.save {
	background-color: #2A3324; /* rcol5 */
}

#footer {
	background-image: url(../img/wplogo.png) !important;
	background-position:10px 10px;
	background-repeat: no-repeat;
	_background-image: url(../img/wplogo.gif);
	background-color:#2A3324; /* rcol5 */
	color:#C8FAAC; /* rcol1 */
}

#media-items {
	border-color: #2A3324; /* rcol5 */
}

#pass-strength-result {
	background-color: #2A3324; /* rcol5 */
	border-color: #697E5D; /* rcol4 */
}

#pass-strength-result.bad {
	background-color: #697E5D; /* rcol4 */
	border-color: #C8FAAC; /* rcol1 */
}

#pass-strength-result.good {
	background-color: #2A3324; /* rcol5 */
	border-color: #697E5D; /* rcol4 */
}

#pass-strength-result.short {
	background-color: #2A3324; /* rcol5 */
}

#pass-strength-result.strong {
	background-color: #C4E0B4; /* rcol2 */
	border-color: #697E5D; /* rcol4 */
}

.checkbox, .side-info, #your-profile #rich_editing {
	background-color: #fff;
}

#plugins .active {
	background-color:#9CB48E; /* rcol3 */
	color:#C4E0B4; /* rcol2 */
}

#plugins .togl {
	border-right-color: #697E5D; /* rcol4 */
}

#the-comment-list .unapproved {
	background-color: #ffffe0;
}

#plugins tr {
	background-color: #fff;
}

#poststuff #editor-toolbar .active {
	background-color: #697E5D; /* rcol4 */
	color: #C4E0B4; /* rcol2 */
}

#poststuff .closed .togbox {
	background-color: #9CB48E; /* rcol3 */
	background-image: url(../../../../wp-admin/images/toggle-arrow.gif);
}

#poststuff .postbox, #titlediv, #poststuff .postarea, #poststuff .stuffbox {
	border-color: #2A3324; /* rcol5 */
	border-right-color: #9CB48E; /* rcol3 */
	border-bottom-color: #9CB48E; /* rcol3 */
}

#poststuff .togbox {
	background-color:#2A3324; /* rcol5 */
	background-image: url(../../../../wp-admin/images/toggle-arrow.gif);
}

#quicktags #ed_link {
	color: #C4E0B4; /* rcol2 */
}

#rightnow .youhave {
	background-color: #9CB48E; /* rcol3 */
}

#rightnow a {
	color: #C4E0B4; /* rcol2 */
}

#sidemenu a {
	background-color: #C4E0B4; /* rcol2 */
	border-bottom-color: #C8FAAC; /* rcol1 */
	border-top-color: #C4E0B4; /* rcol2 */
	color: #9CB48E; /* rcol3 */
}

#tagchecklist span a {
	background: url(../../../../wp-admin/images/xit.gif) no-repeat;
}

#tagchecklist span a:hover {
	background: url(../../../../wp-admin/images/xit.gif) no-repeat -10px 0;
}

#the-comment-list .comment a {
	border-bottom-color: #2A3324; /* rcol5 */
	color: #9CB48E; /* rcol3 */
}

#update-nag, .plugin-update {
	background-color: #fffeeb;
	border-bottom-color: #ccc;
	border-top-color: #ccc;
	color: #555;
}

#upload-files a.file-link {
	background-color: #697E5D; /* rcol4 */
}

#upload-file-view a img {
	border-bottom-color: #C4E0B4; /* rcol2 */
}

#upload-menu li #current-tab-nav, #upload-file {
	background-color: #697E5D; /* rcol4 */
}

#upload-menu li span a.page-numbers {
	color: #C8FAAC; /* rcol1 */
}

#upload-menu li.current {
	border-right-color: #9CB48E; /* rcol3 */
	color: #333;
}

#upload-menu li.current a.upload-tab-link, #upload-menu li a:hover {
	background-color: #697E5D; /* rcol4 */
	color: #333;
}

#upload-menu, #upload-menu li {
	border-top-color: #697E5D; /* rcol4 */
}

#user_info, .login #backtoblog a {
	color: #697E5D; /* rcol4 */
}

#wphead {
	background-color:#C4E0B4; /* rcol2 */ 
	color:#9CB48E; /* rcol3 */
}

#wphead, body.login {
	border-top-color:#C8FAAC; /* rcol1 */
	color:#C4E0B4; /* rcol2 */
}

#wphead #viewsite a {
	background-color: #9CB48E; /* rcol3 */
	color: #C4E0B4; /* rcol2 */
	border-color: #697E5D; /* rcol4 */
}

#wphead #viewsite a:hover {
	color: #C8FAAC; /* rcol1 */
}

#wphead h1, #dashmenu a.current:hover {
	color:#9CB48E; /* rcol3 */
}

div#media-upload-error, .file-error, abbr.required, .widget-control-remove:hover, .delete:hover {
	color: #f00;
}

#media-upload a.delete { 
	color: #2A3324; /* rcol5 */
}


/* TinyMCE */
.wp_themeSkin *,
.wp_themeSkin a:hover, 
.wp_themeSkin a:link, 
.wp_themeSkin a:visited, 
.wp_themeSkin a:active {
	 color: #000;
}

/* Containers */
.wp_themeSkin table {
	background: #9CB48E; /* rcol3 */
}

.wp_themeSkin iframe {
	background: #fff;
}

/* Layout */
.wp_themeSkin .mceStatusbar {
	 color:#333;
	 background-color: #697E5D; /* rcol4 */
}

/* Button */
.wp_themeSkin .mceButton { 
	background-color: #2A3324; /* rcol5 */
	border-color: #9CB48E; /* rcol3 */
}

.wp_themeSkin a.mceButtonEnabled:hover,
.wp_themeSkin a.mceButtonActive, 
.wp_themeSkin a.mceButtonSelected {
	background-color: #d6d8da;
	border-color: #7789ba !important;
}

.wp_themeSkin .mceButtonDisabled {
	border-color: #83B4D5 !important;
}

/* ListBox */
.wp_themeSkin .mceListBox .mceText,
.wp_themeSkin .mceListBox .mceOpen  {
	border-color: #9CB48E; /* rcol3 */
	background-color: #2A3324; /* rcol5 */
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen, 
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceText {
	border-color: #7789ba !important;
	background-color: #d6d8da;
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceText, 
.wp_themeSkin .mceListBoxHover .mceText {
	border-color: #7789ba !important;
}

.wp_themeSkin select.mceListBox {
	border-color: #697E5D; /* rcol4 */
	background-color: #fff;
}

/* SplitButton */
.wp_themeSkin .mceSplitButton a.mceAction, 
.wp_themeSkin .mceSplitButton a.mceOpen {
	background-color: #2A3324; /* rcol5 */
	border-color: #9CB48E; /* rcol3 */
}

.wp_themeSkin .mceSplitButton a.mceOpen:hover,
.wp_themeSkin .mceSplitButtonSelected a.mceOpen,
.wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction,
.wp_themeSkin .mceSplitButton a.mceAction:hover {
	background-color: #d6d8da;
	border-color: #7789ba !important;
} 

.wp_themeSkin .mceSplitButtonActive {
	background-color: #d6d8da;
}

/* ColorSplitButton */
.wp_themeSkin div.mceColorSplitMenu table {
	background-color: #ebeaeb;
	border-color: #808080;
}

.wp_themeSkin .mceColorSplitMenu a {
	border-color: #808080;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {
	border-color: #fff;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {
	border-color: #0A246A;
	background-color: #B6BDD2;
}

.wp_themeSkin a.mceMoreColors:hover {
	border-color: #0A246A;
}

/* Menu */
.wp_themeSkin .mceMenu {
	border-color: #ddd;
}

.wp_themeSkin .mceMenu table {
	background-color: #ebeaeb;
}

.wp_themeSkin .mceMenu .mceText {
	color: #000; 
}

.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover,
.wp_themeSkin .mceMenu .mceMenuItemActive, #quicktags {
	background-color:#697E5D; /* rcol4 */
}
.wp_themeSkin td.mceMenuItemSeparator {
	background-color: #aaa;
}
.wp_themeSkin .mceMenuItemTitle a {
	background-color: #ccc; 
	border-bottom-color: #aaa;
}
.wp_themeSkin .mceMenuItemTitle span.mceText {
	color: #000;
}
.wp_themeSkin .mceMenuItemDisabled .mceText {
	color: #888;
}

/* pop-up */
.clearlooks2 .mceTop .mceLeft, .clearlooks2 .mceTop .mceRight {
	background-color: #697E5D; /* rcol4 */
	border-color: #9CB48E; /* rcol3 */
}

.clearlooks2 .mceFocus .mceTop .mceLeft, .clearlooks2 .mceFocus .mceTop .mceRight {
	background-color: #9CB48E; /* rcol3 */
	border-color: #2A3324; /* rcol5 */
}

#editorcontainer {
	border-color: #2A3324; /* rcol5 */
}

#poststuff #titlewrap {
	border-color: #2A3324; /* rcol5 */
}

#tTips p#tTips_inside {
	background-color: #ddd;
	color: #333;
}

